<h3> Hello <%= @account['name'] %> </h3>

<% reset_url = "#{forget_url}/#{@account['forgot_password_hash']}" %>
<p>
  please <a href="<%= reset_url %>">click here</a> in order to change your password.
</p>