$(function() {
  // Reset Form
  <%= render :partial => "reset_form" %>
  
  // Display validation errors in-line below the input 
  <% if !@errors.blank? and @errors.any? %>
    <% @errors.each do |type, value| %>
      <% value.each do |msg| %>
        var $errormsg = $("<span class='<%= type %> validation'><%= msg %></span>").hide();
        $("#radio_placeholder").prev().append($errormsg);
        $errormsg.fadeIn(250);
      <% end %>
    <% end %>
  <% end %>
});