$(function() {
  // re-enable form submit
  $('#account_submit').removeAttr('disabled');
  $('form button[type*="submit"]').removeAttr('disabled');
  
  // Remove all previous error messages
  $("form span.alert, form span.notice, form span.info, form span.success").remove();
  
  // Display validation errors in-line below the input fields
  <% if @account.present? and @account.errors.any? %>
    <% @account.errors.each do |key, value| %>
      $("#account_<%= key %>").after("<span class='alert validation'><%= value %></span>");
    <% end %>
  <% end %>
});